# 변수의 자료형 결정 시기

## 변수에 값 할당하기

<ul>
    <li>변수명 = 변수값</li>
    <li>변수에 값이 할당될 때 변수값의 자료형이 결정된다.</li>
</ul>

In [4]:
name = 'james'
age = 20
height = 175.0
ischild = age<20

## 변수 값, 자료형 출력하기

<ul>
    <li>변수에 접근할 때는 변수명을 사용한다.</li>
    <li>변수값 출력: print(변수명)</li>
    <li>변수 자료형 출력 : print(type(변수명)).</li>
</ul>

print(name)
print(type(name))

## 쌍따오표나 홑따옴표가 포함되어 있는 문자열

In [8]:
a = "'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다."
print(a)

'낮말'은 새가 듣고 '밤말'은 쥐가 듣는다.

In [10]:
b = '"시간은 금"이라는 말이 있다.'
print(b)

"시간은 금"이라는 말이 있다.

# 키보드로 변수에 값 입력받기

input()<br>
입력받은 값은 무조건 str

In [13]:
a = input('나이:')

나이:20

In [15]:
type(a)

str

## 자료형 변환하기

In [23]:
age = int('20')
type(age)

int

In [20]:
age = str(20)
type(age)

str

In [22]:
age = float(20)
print(age, type(age))

20.0 <class 'float'>

In [25]:
a = int(input('나이:'))

나이:20

In [26]:
type(a)

int