# 리스트, 튜플

## 리스트

In [3]:
l1=[]
l1

[]

In [3]:
l2 = list()
l2

[]

In [4]:
l3=[1,2,3,4]
l3

[1, 2, 3, 4]

In [6]:
l4 = list(range(0,10,2))
l4

[0, 2, 4, 6, 8]

## 튜플
* 생성, 삭제, 수정은 가능하지만 값은 바꿀 수 없다.

In [9]:
t1 = ()
t1

()

In [10]:
t2 = tuple()
t2

()

In [11]:
t3 = (1,3,5,7,9)
t3

(1, 3, 5, 7, 9)

In [14]:
t4 = tuple(range(0,10,2))
t4

(0, 2, 4, 6, 8)

In [15]:
t5 = 1,3,5,7,9
t5

(1, 3, 5, 7, 9)

In [20]:
t6 = (1)
print(type(t6))

# 항목이 한 개일때는 t6 = (1,) 콤마를 적어줘야 한다.

t7 = (1,)
print(type(t7))

<class 'int'>
<class 'tuple'>

# 리스트, 튜플의 자료형
* 모든 자료형이 혼합되어 들어갈 수 있다.

In [21]:
myInfo = ['amy',20,165.5,['독서','코딩']]
myInfo

['amy', 20, 165.5, ['독서', '코딩']]

In [22]:
myInfo = ('amy',20,165.5,['독서','코딩'])
myInfo

('amy', 20, 165.5, ['독서', '코딩'])

# 리스트, 튜플 연산

In [23]:
# 연결 (+)
l1 = ['사과','포도']
l2 = ['딸기', '포도', '수박']
l1 + l2

['사과', '포도', '딸기', '포도', '수박']

In [24]:
t1 = ('빨', '주')
t2 = ('노','초','파')
t1 + t2

('빨', '주', '노', '초', '파')

In [25]:
# 반복 (*)
l = ['먹고','자고']
l*3

['먹고', '자고', '먹고', '자고', '먹고', '자고']

In [26]:
t = ('놀고','먹고','자고')
t*2

('놀고', '먹고', '자고', '놀고', '먹고', '자고')

# 리스트, 튜플에 값 존재여부

In [31]:
l = [1,2,3,4,5]
print(5 in l)
print(10 in l)

print(5 not in l)

True
False
False

In [32]:
l = (1,2,3,4,5)
print(5 in l)
print(10 in l)

print(5 not in l)

True
False
False

# 리스트 , 튜플 항목 갯수 구하기

In [33]:
l = [1,3,2,4,3,5,7,8,77.7,988.6,'a','b','c',[10,20,30]]
len(l)

14

In [34]:
t = ((1,2),[3,4])
len(t)

2