# 판라스란?

* 데이터를 조작/분석하기 위한 라이브러리
* 행/열로 이루어진 테이블 형태의 데이터를 다룬다.
* 엑셀로 다루지 못하는 대용량 데이터를 다룰 수 있다.
* Maplotlib, 

# Pandas 라이브러리 inport
* 외부 패키지이지만 아나콘다에 기본적으로 설치되어 제공
* 관용적으로 pd이라는 별칭을 사용.

In [2]:
import pandas as pd

# 데이터 프레임 만들기
* 데이터프레임: 엑셀의 sheet와 동일한 개념이다.(2차원 형태의 표)

## 리스트로 만들기

In [9]:
df = pd.DataFrame([['james',30,'programer'],
['amy',20,'studemt'],
['david',25,'designer']])

df

# 컬럼명을 전달하지 않은 경우,
# 0부터 시작하는 정수로 index가 설정된다.

       0   1          2
0  james  30  programer
1    amy  20    studemt
2  david  25   designer

In [22]:
df = pd.DataFrame([
    ['james',30,'programer'],
    ['amy',20,'studemt'],
    ['david',25,'designer']],
    columns=['name','age','job'],
    index=['a','b','c'])
df

    name  age        job
a  james   30  programer
b    amy   20    studemt
c  david   25   designer

## 딕셔너리로 만들기

In [21]:
df = pd.DataFrame({
    'name':['james','amy','david'],
    'age':[30,20,25],
    'job':['programer','studemt','designer']},
    index = ['a','b','c']
)
df

    name  age        job
a  james   30  programer
b    amy   20    studemt
c  david   25   designer

## csv 파일에서 데이터를 읽어와 만들기
* pd.read_csv(파일경로)
* csvc파일

In [ ]:
# df = pd.read_csv('data/scores.csv')