In [2]:
import pandas as pd

# 시리즈 만들기
* pd.Series(리스트)
* 시리즈 : 엑셀시트의 열 1개를 의미한다.(1차원 리스트형태)

In [10]:
# 시리즈 만들기
s = pd.Series(['amy',170,240])
s.index
s

# 문자열과 숫자가 섞여있는경우 문자열로 인식한다.

0    amy
1    170
2    240
dtype: object

In [8]:
# 타입 확인하기
type(s)

pandas.core.series.Series

# 시리즈의 index와 value 가져오기

In [13]:
# 시리즈 인덱스 가져오기
s.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
# 시리즈 데이터 가져오기
s.values

array(['amy', 170, 240], dtype=object)

# 시리즈의 index 지정하기

In [15]:
# 시리즈 index 지정하기
s.index = ['name','height','footsize']

In [16]:
#  시리즈 출력하기
s

name        amy
height      170
footsize    240
dtype: object

In [17]:
# 인덱스 확인하기
s.index

Index(['name', 'height', 'footsize'], dtype='object')

In [20]:
# 데이터 확인하기
s.values

array(['amy', 170, 240], dtype=object)

# 시리즈의 통계값 사용하기
* 평균: mean()
* 최소값 : min()
* 최대값 : max()
* 중간값 : median()
* 표준편차 : std()
* 시리즈의 통계값은 시리즈의 value가 모두 숫자형일 때 사용할 수 있다.

In [21]:
s2 = pd.Series([10,20,30,40,50])

In [23]:
print('평균:', s2.mean())
print('최소값:', s2.min())
print('최대값:', s2.max())
print('중간값:', s2.median())
print('표준편차:', s2.std())

평균: 30.0
최소값: 10
최대값: 50
중간값: 30.0
표준편차: 15.811388300841896

In [24]:
# 요약 통계
s2.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

# 시리즈 주요 메서드
* 값 정렬 : sort_values()
* 인덱스 정렬 : sort_index()
* 인덱스 리셋 : reset_index() ==> 행번호로 인덱스 재지정
* 특정 값을 가진 시리즈 값을 교체: replace(찾을값, 교체할 값)
* 시리즈를 데이터 프레임으로 변환 : to_frame()

In [25]:
s3 = pd.Series([1,3,2,4,10])

In [26]:
# s3의 value 중 10을 5로 교체
s3 = s3.replace(10,5)
s3

0    1
1    3
2    2
3    4
4    5
dtype: int64

In [27]:
# s3 정렬(디폴트는 오름차순 : ascending = True)
s3.sort_values()

0    1
2    2
1    3
3    4
4    5
dtype: int64

In [28]:
# s3 정렬 (내림차순 : ascending = False)
s3.sort_values(ascending = False)

4    5
3    4
1    3
2    2
0    1
dtype: int64

In [29]:
# s3을 데이터프레임으로 만들기
s3.to_frame()

   0
0  1
1  3
2  2
3  4
4  5

In [31]:
# 시리즈 인덱스 새로 만들기
s

name        amy
height      170
footsize    240
dtype: object

In [32]:
s.reset_index()

      index    0
0      name  amy
1    height  170
2  footsize  240