In [1]:
import pandas as pd
df = pd.read_csv('data/scores.csv')
df.index = 'i'+df.index.astype('str')
df.head()

    name  kor  eng  math
i0     1    5    5    10
i1     2    0    0    10
i2     3   10   10    10
i3     4    6    6    10
i4     5   10   10    10

# 인덱스로 행 데이터 추출하기
* 데이터프레임.loc[인덱스]
* 데이터프레임.loc[인덱스리스트]

## 시리즈 형태로 추출하기

In [6]:
# 인덱스가 i3인 행 추출하여 s1에 담기
s1 = df.loc['i3']

In [7]:
# s1 type
type(s1)

pandas.core.series.Series

In [8]:
# s1 index
s1.index

Index(['name', 'kor', 'eng', 'math'], dtype='object')

In [9]:
# s1 value
s1.values

array([ 4,  6,  6, 10], dtype=int64)

## 데이터프레임 형태로 추출하기

In [12]:
# 인덱스가 i1,i3,i5인 행 추출
df.loc[['i1','i3','i5']]

    name  kor  eng  math
i1     2    0    0    10
i3     4    6    6    10
i5     6    0    0    10

In [14]:
# 인덱스가 i1인 행을 데이터프레임 형태로 추출
df.loc[['i1']]

    name  kor  eng  math
i1     2    0    0    10

In [15]:
# 인덱스에 없는 값을 사용하면 error
df.loc[-1]

KeyError: -1

# 인덱스로 행,열 추출하기
## 인덱스, 컬럼에 해당하는 한개의 데이터 뽑아오기
* loc[인덱스.컬럼명]

In [18]:
df.head()

    name  kor  eng  math
i0     1    5    5    10
i1     2    0    0    10
i2     3   10   10    10
i3     4    6    6    10
i4     5   10   10    10

In [16]:
# 인덱스 i1의 kor점수
df.loc['i1','kor']

0

In [19]:
#type
type(df.loc['i1','kor'])

numpy.int64

## 특정 인덱스의 여러 컬럼 데이터 추출하기
* loc[인덱스,컬럼명리스트]

In [23]:
# 인덱스 i1 name, kor
df.loc['i1',['name','kor']]

name    2
kor     0
Name: i1, dtype: int64

In [24]:
#type
type(df.loc['i1',['name','kor']])

pandas.core.series.Series

## 여러 인덱스의 특정 컬럼 데이터 추출하기
* loc[인덱스리스트, 컬럼명]

In [26]:
# 인덱스, i1,i3,i5의 name
df.loc[['i1','i3','i5'],'name']

i1    2
i3    4
i5    6
Name: name, dtype: int64

In [27]:
# type
type(df.loc[['i1','i3','i5'],'name'])

pandas.core.series.Series

## 여러 인덱스의 여러 컬럼 가져오기
* loc[인덱스리스트, 컬럼리스트]

In [28]:
# 인덱스, i1,i3,i5의 name, kor
df.loc[['i1','i3','i5'],['name','kor']]

    name  kor
i1     2    0
i3     4    6
i5     6    0

In [29]:
# type
type(df.loc[['i1','i3','i5'],['name','kor']])

pandas.core.frame.DataFrame

## 모든 행에서 특정 열 가져오기
* loc[:,컬럼명]
* loc[:,컬럼리스트]

In [31]:
# 모든 행에서 name 가져오기
df.loc[:,'name']

i0               1
i1               2
i2               3
i3               4
i4               5
             ...
i1048570    120800
i1048571    120801
i1048572    120802
i1048573    120803
i1048574    120804
Name: name, Length: 1048575, dtype: int64

In [32]:
# 모든 행에서 name math 가져오기
df.loc[:,['name','math']]

            name  math
i0             1    10
i1             2    10
i2             3    10
i3             4    10
i4             5    10
...          ...   ...
i1048570  120800     0
i1048571  120801     0
i1048572  120802     0
i1048573  120803     0
i1048574  120804     0

[1048575 rows x 2 columns]

In [33]:
# 모든 행에서 name 데이터프레임 형태로 가져오기
df.loc[:,['name']]

            name
i0             1
i1             2
i2             3
i3             4
i4             5
...          ...
i1048570  120800
i1048571  120801
i1048572  120802
i1048573  120803
i1048574  120804

[1048575 rows x 1 columns]