In [3]:
import pandas as pd
df = pd.read_csv('data/중소벤처기업진흥공단_코로나19 피해기업 지원현황_20210930.csv', encoding='cp949')
df.head()

   일련번호  지역     업력  대출년도  대출금액(백만원)  업종
0     1  전북  15년미만  2021         50 NaN
1     2  전남  20년이상  2021        100 NaN
2     3  인천   5년미만  2021        200 NaN
3     4  인천  10년미만  2021        100 NaN
4     5  인천  20년미만  2021        150 NaN

In [7]:
# 자료형 확인
df.dtypes

일련번호           int64
지역            object
업력            object
대출년도           int64
대출금액(백만원)      int64
업종           float64
dtype: object

In [4]:
# 지역 자료형 변경
df['지역'].unique()

array(['전북', '전남', '인천', '경북', '경기', '경남', '대구', '충남', '강원', '광주', '제주',
       '울산', '충북', '대전', '서울', '부산', '세종'], dtype=object)

In [9]:
df['지역'] = df['지역'].astype('category')

In [5]:
# 업력 자료형 변경
df['업력'].unique()

array(['15년미만', '20년이상', '5년미만', '10년미만', '20년미만', '3년미만', '7년미만', '1년미만'],
      dtype=object)

In [10]:
df['업력'] = df['업력'].astype('category')

In [11]:
# 자료형 확인
df.dtypes

일련번호            int64
지역           category
업력           category
대출년도            int64
대출금액(백만원)       int64
업종            float64
dtype: object

In [12]:
# 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   일련번호       4024 non-null   int64
 1   지역         4024 non-null   category
 2   업력         4024 non-null   category
 3   대출년도       4024 non-null   int64
 4   대출금액(백만원)  4024 non-null   int64
 5   업종         0 non-null      float64
dtypes: category(2), float64(1), int64(3)
memory usage: 134.8 KB

In [13]:
# 결측치 확인
df.isnull().sum()

일련번호            0
지역              0
업력              0
대출년도            0
대출금액(백만원)       0
업종           4024
dtype: int64

In [18]:
pd.pivot_table(df,index='지역',columns='업력', values='대출금액(백만원)',aggfunc='sum', margins=True)

업력    10년미만   15년미만  1년미만  20년미만  20년이상   3년미만   5년미만   7년미만     All
지역
강원     4800    4300   370   2050   4170   1770   1230   2410   21100
경기    23610   23220  1170  16580  17520  13630  20070  16590  132390
경남    12130   11570   540   9150   7605   5090   4920   6560   57565
경북     9040   10130  1420   7330  10450   3130   4010   3060   48570
광주     4180    4410   200   4030   3180   2160    880   1960   21000
대구     5300    5450   200   4100   5800   1750   3980   4550   31130
대전     2770    3250    50   2850   1650    800   1130   1250   13750
부산     6540    7490   630   3890   5150   4110   4040   3620   35470
서울    12380   11240  1130   6610   8110   7320  13750  11610   72150
세종      990     300   100     50    550      0    700    300    2990
울산     2200    3695   500   2800   2650   1000   2150   1350   16345
인천     4080    4450   250   5300   4710   3140   4360   3390   29680
전남     3350    4310   430   3790   4660   2000   2650   2950   24140
전북     3810    7290   300   2850   8240   3650   4170   3370   33680
제주      500    1720     0   1200    750    980   1850   1150    8150
충남     5480    7690   400   4050   4560   1500   2880   3900   30460
충북     5930    5010     0   3920   4220   2250   4750   3170   29250
All  107090  115525  7690  80550  93975  54280  77520  71190  607820