In [1]:
import pandas as pd
import numpy as np

data = [10,20,30,40,50]
sr = pd.Series(data, index=['a','b','c','d','e'], name='kor')
sr

a    10
b    20
c    30
d    40
e    50
Name: kor, dtype: int64

In [2]:
#산술연산(+,-,*,/,%,//,**)
#관계연산(>,>=,<,<=,==,!=)
#논리연산(and(&), or(|), not(~))
#element wise(요소별 연산)

In [3]:
sr+1

a    11
b    21
c    31
d    41
e    51
Name: kor, dtype: int64

In [4]:
sr-2

a     8
b    18
c    28
d    38
e    48
Name: kor, dtype: int64

In [5]:
sr*2

a     20
b     40
c     60
d     80
e    100
Name: kor, dtype: int64

In [6]:
sr[0::2] #0,2,4

a    10
c    30
e    50
Name: kor, dtype: int64

In [7]:
#복수개의 인덱스를 선택
sr[[0,1,4]]

/var/folders/78/992v6fvd2_bcrhq_mc51vz9r0000gn/T/ipykernel_14817/3307778253.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sr[[0,1,4]]

a    10
b    20
e    50
Name: kor, dtype: int64

In [8]:
sr.iloc[[0,1,4]]

a    10
b    20
e    50
Name: kor, dtype: int64

In [10]:
#booean indexing
#booean 값은 요소 갯수만큼 
#ture에 해당하는 요소만 출력
sr[[True,True,False,False,True]]

a    10
b    20
e    50
Name: kor, dtype: int64

In [11]:
sr>=30

a    False
b    False
c     True
d     True
e     True
Name: kor, dtype: bool

In [13]:
#필터
sr[sr>=30] #sr[[False,False,True,True,True]]

c    30
d    40
e    50
Name: kor, dtype: int64

In [14]:
sr[sr!=20]

a    10
c    30
d    40
e    50
Name: kor, dtype: int64

In [16]:
# sr==30 | sr==50
# 논리연산자는 비트연산자라 관계연산자보다 우선순위가 높아 30 | sr 먼저 수행되기 때문에 괄호 필요
(sr==30) | (sr==50)

a    False
b    False
c     True
d    False
e     True
Name: kor, dtype: bool

In [17]:
sr[(sr==30) | (sr==50)]

c    30
e    50
Name: kor, dtype: int64

In [18]:
(sr>=20) & (sr<=40)

a    False
b     True
c     True
d     True
e    False
Name: kor, dtype: bool

In [19]:
sr[(sr>=20) & (sr<=40)]

b    20
c    30
d    40
Name: kor, dtype: int64

In [20]:
sr[~((sr>=20) & (sr<=40))]

a    10
e    50
Name: kor, dtype: int64

In [22]:
#연습문제
#세금3.3을 제한 실수령액을 구하시오.
salary = pd.Series([1000,2000,3000,4000])
salary

0    1000
1    2000
2    3000
3    4000
dtype: int64

In [24]:
salary*(1-0.033)

0     967.0
1    1934.0
2    2901.0
3    3868.0
dtype: float64

In [29]:
#연습문제
#sr데이터에서 20과 50인 데이터를 선택하시오.
sr.iloc[[1,4]]

b    20
e    50
Name: kor, dtype: int64

In [28]:
sr[((sr==20) | (sr==50))]

b    20
e    50
Name: kor, dtype: int64

In [30]:
sr.isin([20,50])

a    False
b     True
c    False
d    False
e     True
Name: kor, dtype: bool

In [31]:
sr[sr.isin([20,50])]

b    20
e    50
Name: kor, dtype: int64

In [34]:
sr[(sr.index == 'b') | (sr.index == 'e')]

b    20
e    50
Name: kor, dtype: int64