In [21]:
import pandas as pd
import numpy as np

data = [10,20,30,40,50]
sr = pd.Series(data, index=['a','b','c','d','e'], name='kor')
sr

a    10
b    20
c    30
d    40
e    50
Name: kor, dtype: int64

In [2]:
sr.max()

50

In [3]:
sr.min()

10

In [4]:
# 가장 큰 값의 인덱스
sr.idxmax()

'e'

In [8]:
# 45이하인 데이터의 가장 큰 값을 구하시오.
# sr[sr<=45].max()
sr1 = sr[sr<=45]
sr1.max()

40

In [11]:
# 맨 위 n개 데이터 출력
sr.head(3)

a    10
b    20
c    30
Name: kor, dtype: int64

In [12]:
# 맨 아래 n개 데이터 출력
sr.tail(2)

d    40
e    50
Name: kor, dtype: int64

In [13]:
# top3
sr.nlargest(3)

e    50
d    40
c    30
Name: kor, dtype: int64

In [14]:
sr['b'] = 30

In [15]:
sr

a    10
b    30
c    30
d    40
e    50
Name: kor, dtype: int64

In [17]:
# 순위 나열 시 동률이면 keep 인자가 first 이므로 b가 출력됨
sr.nlargest(3)

e    50
d    40
b    30
Name: kor, dtype: int64

In [18]:
sr.nlargest(3, keep='last')

e    50
d    40
c    30
Name: kor, dtype: int64

In [19]:
sr.nlargest(3, keep='all')

e    50
d    40
b    30
c    30
Name: kor, dtype: int64

In [20]:
sr.nsmallest(2)

a    10
b    30
Name: kor, dtype: int64

In [ ]:
data = [10,20,30,40,50]
sr = pd.Series(data, index=['a','b','c','d','e'], name='kor')
sr

In [22]:
sr.sum()

150

In [23]:
sr.mean()

30.0

In [25]:
# 데이터 정렬했을 때 가운데 값
# 짝수개의 데이터일 경우 중간 값 두 개의 핪을 2로 나눈 값을 출력
sr.median()

30.0

In [ ]:
# 1000처럼 과하게 벗어나는 이상치 데이터는 빼버리거나 
# 이런 경우에 중간 값이 더 의미있는 값이 된다.

In [28]:
sr.quantile() # 50%에 해당되는 값

30.0

In [29]:
sr.quantile([0.25,0.5,0.75]) # 데이터를 정렬했을 때 25%, 50%, 75%에 해당하는 값

0.25    20.0
0.50    30.0
0.75    40.0
Name: kor, dtype: float64

In [31]:
#표준편차 
#개별 데이터에 평균값을 뺀 후 제곱의 합을 구해서 갯수(5)로 나누고(분산), 루트를 씌운 값
sr.std()

15.811388300841896

In [32]:
sr.unique()

array([10, 20, 30, 40, 50])

In [35]:
sr['b']= 30
sr

a    10
b    30
c    30
d    40
e    50
Name: kor, dtype: int64

In [36]:
sr.unique()

array([10, 30, 40, 50])

In [37]:
sr.value_counts()

kor
30    2
10    1
40    1
50    1
Name: count, dtype: int64

In [42]:
def fn(v):
    print('v=',v)
    return v+1

In [39]:
# sr.apply(함수 주소값)
# 조건 별로 연산을 달리 할 수 있다.
# sr.map(fn)와 동일
sr.apply(fn)

v= 10
v= 30
v= 30
v= 40
v= 50

a    11
b    31
c    31
d    41
e    51
Name: kor, dtype: int64

In [45]:
def fn2(v):
    print('v=',v)
    if( v<30):
        return v+1
    else:
        return v+2
# 한줄로 표현가능
# def fn2(v):
    # return v+1 if v<30 else v+2

In [44]:
sr.apply(fn2)

v= 10
v= 30
v= 30
v= 40
v= 50

a    11
b    32
c    32
d    42
e    52
Name: kor, dtype: int64