In [1]:
import pandas as pd
import numpy as np

data ={'eng':[10,30,50,70],
      'kor':[20,40,60,80],
      'math':[90,50,20,70]}
df = pd.DataFrame(data, index=['a','b','c','d'])
df

   eng  kor  math
a   10   20    90
b   30   40    50
c   50   60    20
d   70   80    70

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [2]:
df.ndim # 몇차원

2

In [3]:
df.shape # 몇행, 몇열

(4, 3)

In [4]:
df.size #행X열 - 총 데이터 갯수

12

In [5]:
len(df) # 행의 갯수를 출력하는 내장함수

4

In [6]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
df.columns

Index(['eng', 'kor', 'math'], dtype='object')

In [8]:
df.values 
# 2차원으로 되어 있는 데이터만 추출해 주는데 정확하게는 NDRA 객체

array([[10, 20, 90],
       [30, 40, 50],
       [50, 60, 20],
       [70, 80, 70]])

In [9]:
df.dtypes

eng     int64
kor     int64
math    int64
dtype: object

In [10]:
df.info() 
# 속성은 아닌 멤버 함수로
# 각 컬럼의 null 여부
# 데이터 갯수
# 메모리가 차지하고 있는 사이즈(bytes) 제공

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   eng     4 non-null      int64
 1   kor     4 non-null      int64
 2   math    4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [11]:
df.T 
# 인덱스 -> 컬럼, 컬럼 -> 인덱스로 바꿔주는 transpose

       a   b   c   d
eng   10  30  50  70
kor   20  40  60  80
math  90  50  20  70