In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']="AppleGothic"
matplotlib.rcParams['axes.unicode_minus']=False

In [2]:
from datetime import datetime

In [10]:
dt = datetime(2020,9,1,11,10,12)
dt

datetime.datetime(2020, 9, 1, 11, 10, 12)

In [11]:
print(dt.year,dt.month,dt.day, dt.hour,dt.minute,dt.second)

2020 9 1 11 10 12

In [23]:
data=[{'이름':'홍길동','나이':20,'생일':'1999-10-10'},
       {'이름':'이순신','나이':30,'생일':'1989-03-02'},
       {'이름':'임꺽정','나이':40,'생일':'1979-06-12'}]
df = pd.DataFrame(data)
df

    이름  나이          생일
0  홍길동  20  1999-10-10
1  이순신  30  1989-03-02
2  임꺽정  40  1979-06-12

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
 2   생일      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

In [31]:
# 시계열분석은 type이 datetime형이여야 한다.
data=[{'이름':'홍길동','나이':20,'생일': datetime(1999,10,10)},
       {'이름':'이순신','나이':30,'생일':datetime(1989,3,2)},
       {'이름':'임꺽정','나이':40,'생일':datetime(1979,6,12)}]
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   나이      3 non-null      int64
 2   생일      3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 204.0+ bytes

In [21]:
# 문자열을 datetime 형식으로 변환하는 방법
# 년-월-일 시:분:초
# 년/월/일
# 년.월.일

df['생일'] = pd.to_datetime(df['생일'])

In [32]:
# 데이트 타임 형의 장점?
# 1. 비교연산자를 사용해서 원하는 날짜의 데이터를 찾을 수 있다.
df[df['생일'] < '1990-01-01']

    이름  나이         생일
1  이순신  30 1989-03-02
2  임꺽정  40 1979-06-12

In [33]:
# 2. 인덱싱슬라이싱 가능해진다.
df.set_index('생일', inplace=True)

In [34]:
df

             이름  나이
생일
1999-10-10  홍길동  20
1989-03-02  이순신  30
1979-06-12  임꺽정  40