In [10]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /opt/anaconda3/lib/python3.12/site-packages (0.10.0)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.12/site-packages (from pandas_datareader) (5.2.1)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.12/site-packages (from pandas_datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (2025.4.26)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

In [10]:
!pip install -U pandas_datareader

Requirement already satisfied: pandas_datareader in /opt/anaconda3/lib/python3.12/site-packages (0.10.0)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.12/site-packages (from pandas_datareader) (5.2.1)
Requirement already satisfied: pandas>=0.23 in /opt/anaconda3/lib/python3.12/site-packages (from pandas_datareader) (2.2.2)
Requirement already satisfied: requests>=2.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.19.0->pandas_datareader) (2025.4.26)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

In [12]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.64-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.18.1.tar.gz (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 33.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Collecting curl_cffi>=0.7 (from yfinance)
  Downloading curl_cffi-0.11.4-cp39-abi3-macosx_11_0_arm64.whl.metadata (14 kB)
Requirement already satisfied: protobuf>=3.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.25.3)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.8 kB)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2025.4.26)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.3)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-0.2.64-py2.py3-none-any.whl (119 kB)
Downloading curl_cffi-0.11.4-cp39-abi3-macosx_11_0_arm64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 23.5 MB/s eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading websockets-15.0.1-cp312-cp312-macosx_11_0_arm64.whl (173 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.18.1-cp312-cp312-macosx_11_0_arm64.whl size=272129 sha256=5f604bbe9d894f73108b79416bf9f38facf1379a2654f3c5f1cd9f737a316a56
  Stored in directory: /Users/okzzinkyo/Library/Caches/pip/wheels/1a/57/6a/bb71346381d0d911cd4ce3026f1fa720da76707e4f01cf27dd
Successfully built peewee
Installing collected packages: peewee, multitasking, websockets, curl_cffi, yfinance
Successfully installed curl_cffi-0.11.4 multitasking-0.0.11 peewee-3.18.1 websockets-15.0.1 yfinance-0.2.64
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import matplotlib
matplotlib.rcParams['font.family']="AppleGothic"
matplotlib.rcParams['axes.unicode_minus']=False

In [6]:
# 각종 금융 관련된 정보들을 라이브러리 형태로 데이터 프레임을 바로 제공한다.
# https://pandas-datareader.readthedocs.io/en/latest/
from pandas_datareader import data

In [21]:
# 종목코드, 날짜
# hoo는 2017년 이후 비공식 API 사용에 대해 자주 차단하거나 URL 포맷을 변경해왔다. 
# pandas_datareader는 Yahoo Finance 지원을 공식적으로 중단하지는 않았지만,
# 종종 이렇게 작동하지 않는 경우가 있다.
# 방법 1) yfinance 사용
# 방법 2) pandas_datareader 최신 버전 확인
# sdf = data.get_data_yahoo('005930.KS', '2017-01-01')
# sdf
import yfinance as yf
import datetime
today = datetime.datetime.today().strftime('%Y-%m-%d')
sdf = yf.download('005930.KS', start='2017-01-01', end=today)
sdf

/var/folders/78/992v6fvd2_bcrhq_mc51vz9r0000gn/T/ipykernel_17755/2405435051.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  sdf = yf.download('005930.KS', start='2017-01-01', end=today)
[*********************100%***********************]  1 of 1 completed

Price              Close          High           Low          Open    Volume
Ticker         005930.KS     005930.KS     005930.KS     005930.KS 005930.KS
Date
2017-01-02  29141.785156  29254.800390  28964.189790  29044.914956   4650600
2017-01-03  29448.554688  29561.569974  29077.218746  29287.104278   7357650
2017-01-04  29190.218750  29480.829335  29141.783653  29464.684302   7971750
2017-01-05  28705.878906  29109.504875  28689.733867  29109.504875  10967450
2017-01-06  29222.509766  29416.250162  29093.349501  29206.364733   8880950
...                  ...           ...           ...           ...       ...
2025-06-26  60200.000000  61300.000000  59900.000000  61300.000000  19402300
2025-06-27  60800.000000  61600.000000  60000.000000  60100.000000  17340470
2025-06-30  59800.000000  61200.000000  59800.000000  61200.000000  17110294
2025-07-01  60200.000000  61100.000000  60200.000000  60400.000000  13650991
2025-07-02  60800.000000  60900.000000  59800.000000  60200.000000  16216317

[2080 rows x 5 columns]

In [22]:
sdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2080 entries, 2017-01-02 to 2025-07-02
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   (Close, 005930.KS)   2080 non-null   float64
 1   (High, 005930.KS)    2080 non-null   float64
 2   (Low, 005930.KS)     2080 non-null   float64
 3   (Open, 005930.KS)    2080 non-null   float64
 4   (Volume, 005930.KS)  2080 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 97.5 KB

In [23]:
sdf.index

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-12', '2017-01-13',
               ...
               '2025-06-19', '2025-06-20', '2025-06-23', '2025-06-24',
               '2025-06-25', '2025-06-26', '2025-06-27', '2025-06-30',
               '2025-07-01', '2025-07-02'],
              dtype='datetime64[ns]', name='Date', length=2080, freq=None)

In [27]:
# 시계열데이터: 인덱스가 datetime형인 경우(인덱싱, 슬라이싱)
sdf.loc['2019']

Price              Close          High           Low          Open    Volume
Ticker         005930.KS     005930.KS     005930.KS     005930.KS 005930.KS
Date
2019-01-02  32866.582031  33417.892440  32696.948059  33417.892440   7847664
2019-01-03  31891.185547  32696.946884  31763.960073  32484.904427  12471493
2019-01-04  31763.958984  31891.184454  31255.057105  31763.958984  14108958
2019-01-07  32866.582031  32993.807510  32060.820665  32230.454637  12748997
2019-01-08  32315.259766  33248.246268  32188.034333  32230.442811  12756554
...                  ...           ...           ...           ...       ...
2019-12-23  48160.671875  48941.655743  47813.567934  48681.327787   9839252
2019-12-24  47726.781250  48334.213011  47553.229318  48247.437045  11868463
2019-12-26  48073.894531  48073.894531  47206.134702  47466.462651   9645034
2019-12-27  49343.730469  49693.066614  48470.390106  48645.058179  12313056
2019-12-30  48732.386719  49431.058930  48645.052692  49081.722824   8356767

[246 rows x 5 columns]

In [28]:
sdf.loc['2019-02']

Price              Close          High           Low          Open    Volume
Ticker         005930.KS     005930.KS     005930.KS     005930.KS 005930.KS
Date
2019-02-01  39312.671875  39821.573776  39227.854891  39567.122826  13832454
2019-02-07  39185.449219  39948.802126  39185.449219  39694.351157  15872001
2019-02-08  37998.011719  38761.364633  37870.786233  38761.364633  12689196
2019-02-11  38167.644531  38167.644531  37531.517122  37743.559592  11125044
2019-02-12  39058.226562  39227.860554  37870.788621  37870.788621  13184367
2019-02-13  39185.449219  39609.534167  39015.815239  39355.083198  11299738
2019-02-14  40288.070312  40288.070312  39143.040946  39524.717401  17259341
2019-02-15  39058.226562  39736.762529  38718.958579  39651.945533  10554643
2019-02-18  39185.449219  39736.759651  38888.589755  39439.900188   8183728
2019-02-19  38973.402344  39143.036304  38549.317443  38888.585364   6741395
2019-02-20  39779.164062  39948.798024  39439.896139  39651.938591  11506720
2019-02-21  39821.566406  40033.608826  39185.439147  39439.890051   8694009
2019-02-22  39991.214844  39991.214844  39397.495853  39439.904353   6895772
2019-02-25  40160.847656  40330.481648  39906.396668  40203.256154   7484716
2019-02-26  39651.945312  40245.664280  39439.902824  40160.847284   7985547
2019-02-27  39651.945312  40076.030289  39651.945312  39863.987801   8045211
2019-02-28  38252.464844  39439.902777  38252.464844  39355.085782  23569321

In [29]:
sdf.loc['2019-01':'2019-06']

Price              Close          High           Low          Open    Volume
Ticker         005930.KS     005930.KS     005930.KS     005930.KS 005930.KS
Date
2019-01-02  32866.582031  33417.892440  32696.948059  33417.892440   7847664
2019-01-03  31891.185547  32696.946884  31763.960073  32484.904427  12471493
2019-01-04  31763.958984  31891.184454  31255.057105  31763.958984  14108958
2019-01-07  32866.582031  32993.807510  32060.820665  32230.454637  12748997
2019-01-08  32315.259766  33248.246268  32188.034333  32230.442811  12756554
...                  ...           ...           ...           ...       ...
2019-06-24  38895.339844  39151.792634  38638.887054  38638.887054   6085066
2019-06-25  38980.812500  39151.780976  38638.875548  38638.875548   7076774
2019-06-26  39066.316406  39322.769249  38980.832125  39151.800687   9226097
2019-06-27  40060.500000  40146.651613  39414.362903  39629.741935  12603534
2019-06-28  40491.253906  40491.253906  40232.799094  40491.253906  12949231

[121 rows x 5 columns]

In [30]:
sdf[sdf.index > '2019-01-01']

Price              Close          High           Low          Open    Volume
Ticker         005930.KS     005930.KS     005930.KS     005930.KS 005930.KS
Date
2019-01-02  32866.582031  33417.892440  32696.948059  33417.892440   7847664
2019-01-03  31891.185547  32696.946884  31763.960073  32484.904427  12471493
2019-01-04  31763.958984  31891.184454  31255.057105  31763.958984  14108958
2019-01-07  32866.582031  32993.807510  32060.820665  32230.454637  12748997
2019-01-08  32315.259766  33248.246268  32188.034333  32230.442811  12756554
...                  ...           ...           ...           ...       ...
2025-06-26  60200.000000  61300.000000  59900.000000  61300.000000  19402300
2025-06-27  60800.000000  61600.000000  60000.000000  60100.000000  17340470
2025-06-30  59800.000000  61200.000000  59800.000000  61200.000000  17110294
2025-07-01  60200.000000  61100.000000  60200.000000  60400.000000  13650991
2025-07-02  60800.000000  60900.000000  59800.000000  60200.000000  16216317

[1595 rows x 5 columns]

In [31]:
sdf.loc['2019-01-01':]

Price              Close          High           Low          Open    Volume
Ticker         005930.KS     005930.KS     005930.KS     005930.KS 005930.KS
Date
2019-01-02  32866.582031  33417.892440  32696.948059  33417.892440   7847664
2019-01-03  31891.185547  32696.946884  31763.960073  32484.904427  12471493
2019-01-04  31763.958984  31891.184454  31255.057105  31763.958984  14108958
2019-01-07  32866.582031  32993.807510  32060.820665  32230.454637  12748997
2019-01-08  32315.259766  33248.246268  32188.034333  32230.442811  12756554
...                  ...           ...           ...           ...       ...
2025-06-26  60200.000000  61300.000000  59900.000000  61300.000000  19402300
2025-06-27  60800.000000  61600.000000  60000.000000  60100.000000  17340470
2025-06-30  59800.000000  61200.000000  59800.000000  61200.000000  17110294
2025-07-01  60200.000000  61100.000000  60200.000000  60400.000000  13650991
2025-07-02  60800.000000  60900.000000  59800.000000  60200.000000  16216317

[1595 rows x 5 columns]

In [35]:
# sdf.index가 datetype 형이기 때문에 year, month, day와 같은 속성을 쓸 수 있다.
sdf['year'] = sdf.index.year
sdf['month'] = sdf.index.month
sdf

Price,Close,High,Low,Open,Volume,year,month
Ticker,005930.KS,005930.KS,005930.KS,005930.KS,005930.KS,,
Date,,,,,,,
2017-01-02,29141.785156,29254.800390,28964.189790,29044.914956,4650600,2017,1
2017-01-03,29448.554688,29561.569974,29077.218746,29287.104278,7357650,2017,1
2017-01-04,29190.218750,29480.829335,29141.783653,29464.684302,7971750,2017,1
2017-01-05,28705.878906,29109.504875,28689.733867,29109.504875,10967450,2017,1
2017-01-06,29222.509766,29416.250162,29093.349501,29206.364733,8880950,2017,1
...,...,...,...,...,...,...,...
2025-06-26,60200.000000,61300.000000,59900.000000,61300.000000,19402300,2025,6
2025-06-27,60800.000000,61600.000000,60000.000000,60100.000000,17340470,2025,6
2025-06-30,59800.000000,61200.000000,59800.000000,61200.000000,17110294,2025,6
2025-07-01,60200.000000,61100.000000,60200.000000,60400.000000,13650991,2025,7
2025-07-02,60800.000000,60900.000000,59800.000000,60200.000000,16216317,2025,7

In [37]:
# g=sdf.groupby('year')
# 이렇게 컬럼을 만들지 않아도 바로 구할 수 있다.
g=sdf.groupby(sdf.index.year)
g.mean()

Price,Close,High,Low,Open,Volume,year,month
Ticker,005930.KS,005930.KS,005930.KS,005930.KS,005930.KS,,
Date,,,,,,,
2017,37629.922313,37965.169762,37295.743182,37619.044993,1.144929e+07,2017.0,6.423237
2018,38911.657891,39344.306936,38506.019574,38942.615962,1.255331e+07,2018.0,6.483607
2019,40008.021175,40356.376251,39612.341987,39991.051117,1.089653e+07,2019.0,6.520325
2020,50496.561665,51079.212165,49905.686409,50475.656471,2.174733e+07,2020.0,6.516129
2021,72798.275170,73493.870778,72257.854911,72892.295770,1.878421e+07,2021.0,6.556452
2022,59914.684378,60415.698032,59488.838817,59968.095545,1.389583e+07,2022.0,6.594262
2023,64848.164190,65353.813781,64349.533985,64896.192212,1.222129e+07,2023.0,6.473469
2024,70145.215212,70995.923567,69500.140125,70283.648754,2.169658e+07,2024.0,6.475410
2025,56223.988965,56893.119354,55651.697505,56193.751169,1.803959e+07,2025.0,3.575000

In [39]:
gM=sdf.groupby(sdf.index.month)
gM.mean()

Price,Close,High,Low,Open,Volume,year,month
Ticker,005930.KS,005930.KS,005930.KS,005930.KS,005930.KS,,
Date,,,,,,,
1,54462.047622,55151.707696,53869.694674,54498.161846,1.718943e+07,2020.928962,1.0
2,54581.329239,55120.422241,54111.568780,54624.587226,1.443443e+07,2021.041176,2.0
3,53876.912212,54368.763694,53345.171186,53828.426884,1.736087e+07,2020.957895,3.0
4,55104.920139,55606.253238,54633.917345,55186.061169,1.541367e+07,2021.026455,4.0
5,54551.855579,55120.608072,54120.143835,54658.776451,1.600304e+07,2020.994350,5.0
6,55628.364419,56118.119847,55158.188385,55644.930360,1.614594e+07,2020.967033,6.0
7,56075.117056,56563.668109,55614.930496,56102.684196,1.374084e+07,2020.556180,7.0
8,53995.733895,54584.640100,53581.786529,54146.883578,1.450967e+07,2020.491228,8.0
9,53357.500613,53871.236928,52916.699174,53410.471624,1.572066e+07,2020.490196,9.0
10,52430.763165,53035.945538,51960.522730,52451.114916,1.549224e+07,2020.538961,10.0
11,54000.538317,54539.949054,53476.460555,54037.893780,1.512138e+07,2020.491329,11.0
12,55500.054333,55965.157363,54962.324415,55396.040493,1.551069e+07,2020.556250,12.0

In [41]:
gYM=sdf.groupby([sdf.index.year,sdf.index.month])
gYM.mean()

Price             Close          High           Low          Open  \
Ticker        005930.KS     005930.KS     005930.KS     005930.KS
Date Date
2017 1     30260.639355  30535.104960  29932.087895  30142.780614
     2     31136.509473  31411.782346  30898.370188  31142.160237
     3     33241.881037  33468.803301  32898.419765  33018.850149
     4     33985.358398  34229.968090  33653.272378  33945.670059
     5     36894.371916  37290.828873  36601.079004  36926.770525
...                 ...           ...           ...           ...
2025 3     56956.659570  57653.352118  56235.882476  56773.401888
     4     55686.363636  56372.727273  55286.363636  55840.909091
     5     55652.631579  56336.842105  55189.473684  55705.263158
     6     59200.000000  59936.842105  58568.421053  59315.789474
     7     60500.000000  61000.000000  60000.000000  60300.000000

Price            Volume    year month
Ticker        005930.KS
Date Date
2017 1     1.102530e+07  2017.0   1.0
     2     1.192612e+07  2017.0   2.0
     3     1.193883e+07  2017.0   3.0
     4     1.191310e+07  2017.0   4.0
     5     1.358061e+07  2017.0   5.0
...                 ...     ...   ...
2025 3     2.078140e+07  2025.0   3.0
     4     1.460492e+07  2025.0   4.0
     5     1.400887e+07  2025.0   5.0
     6     1.917143e+07  2025.0   6.0
     7     1.493365e+07  2025.0   7.0

[103 rows x 7 columns]

In [44]:
# resample 이라는 함수를 통해 주간별, 분기별 등 다양한 집계를 할 수 있다.
# resample rule
# https://pandas.pydata.org/docs/user_guide/timeseries.html#time-date-components

# 연도별 직계
gRes = sdf.resample(rule='A')
gRes.mean()

/var/folders/78/992v6fvd2_bcrhq_mc51vz9r0000gn/T/ipykernel_17755/1340007771.py:4: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  gRes = sdf.resample(rule='A')

Price,Close,High,Low,Open,Volume,year,month
Ticker,005930.KS,005930.KS,005930.KS,005930.KS,005930.KS,,
Date,,,,,,,
2017-12-31,37629.922313,37965.169762,37295.743182,37619.044993,1.144929e+07,2017.0,6.423237
2018-12-31,38911.657891,39344.306936,38506.019574,38942.615962,1.255331e+07,2018.0,6.483607
2019-12-31,40008.021175,40356.376251,39612.341987,39991.051117,1.089653e+07,2019.0,6.520325
2020-12-31,50496.561665,51079.212165,49905.686409,50475.656471,2.174733e+07,2020.0,6.516129
2021-12-31,72798.275170,73493.870778,72257.854911,72892.295770,1.878421e+07,2021.0,6.556452
2022-12-31,59914.684378,60415.698032,59488.838817,59968.095545,1.389583e+07,2022.0,6.594262
2023-12-31,64848.164190,65353.813781,64349.533985,64896.192212,1.222129e+07,2023.0,6.473469
2024-12-31,70145.215212,70995.923567,69500.140125,70283.648754,2.169658e+07,2024.0,6.475410
2025-12-31,56223.988965,56893.119354,55651.697505,56193.751169,1.803959e+07,2025.0,3.575000

In [45]:
# 주간별(월~일)
gRes = sdf.resample(rule='w')
gRes.mean()

/var/folders/78/992v6fvd2_bcrhq_mc51vz9r0000gn/T/ipykernel_17755/4026532187.py:2: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  gRes = sdf.resample(rule='w')

Price,Close,High,Low,Open,Volume,year,month
Ticker,005930.KS,005930.KS,005930.KS,005930.KS,005930.KS,,
Date,,,,,,,
2017-01-08,29141.789453,29364.590947,28993.255111,29222.514629,7.965680e+06,2017.0,1.000000
2017-01-15,30514.116406,30769.207963,30110.490508,30271.940852,1.238729e+07,2017.0,1.000000
2017-01-22,29907.064063,30372.041084,29613.224412,29919.980104,1.044830e+07,2017.0,1.000000
2017-01-29,31385.943848,31490.886565,30800.686407,30893.520349,1.212688e+07,2017.0,1.000000
2017-02-05,31765.361816,32031.754943,31660.419073,31975.247310,1.438956e+07,2017.0,1.750000
...,...,...,...,...,...,...,...
2025-06-08,57900.000000,58366.666667,56966.666667,57200.000000,1.859551e+07,2025.0,6.000000
2025-06-15,59340.000000,60160.000000,58940.000000,59960.000000,1.739745e+07,2025.0,6.000000
2025-06-22,58760.000000,59620.000000,58060.000000,58740.000000,2.068142e+07,2025.0,6.000000
2025-06-29,60160.000000,60720.000000,59420.000000,60140.000000,2.019320e+07,2025.0,6.000000
2025-07-06,60266.666667,61066.666667,59933.333333,60600.000000,1.565920e+07,2025.0,6.666667

In [46]:
# 분기별 직계
gRes = sdf.resample(rule='Q')
gRes.mean()

/var/folders/78/992v6fvd2_bcrhq_mc51vz9r0000gn/T/ipykernel_17755/153750746.py:1: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  gRes = sdf.resample(rule='Q')

Price,Close,High,Low,Open,Volume,year,month
Ticker,005930.KS,005930.KS,005930.KS,005930.KS,005930.KS,,
Date,,,,,,,
2017-03-31,31601.038054,31858.893851,31296.361233,31485.701940,1.164004e+07,2017.0,2.032258
2017-06-30,36218.718945,36509.514971,35913.614308,36183.622799,1.212670e+07,2017.0,5.016667
2017-09-30,39620.746838,39926.141276,39266.392039,39623.099369,1.100376e+07,2017.0,7.984127
2017-12-31,43577.084473,44079.226702,43201.788454,43692.923123,1.101350e+07,2017.0,11.035714
2018-03-31,40342.343622,40883.561348,39884.965173,40416.131540,1.523360e+07,2018.0,1.983607
2018-06-30,41329.598503,41800.212843,40895.984519,41412.491260,1.393414e+07,2018.0,4.966667
2018-09-30,38442.267802,38768.455692,38084.590429,38419.732763,9.944799e+06,2018.0,7.918033
2018-12-31,35625.924490,36019.759393,35251.077630,35617.114464,1.114639e+07,2018.0,10.967742
2019-03-31,37295.813195,37635.867787,36847.176377,37247.648747,1.220284e+07,2019.0,1.966102
2019-06-30,38192.577180,38532.456844,37800.891063,38176.667409,1.089301e+07,2019.0,4.951613
2019-09-30,39423.336744,39729.703142,39069.004277,39397.899506,9.476117e+06,2019.0,7.936508
2019-12-31,44998.552104,45405.947358,44607.261405,45018.810490,1.110025e+07,2019.0,10.983871
2020-03-31,48822.623677,49518.608721,48123.049510,48798.620061,2.351983e+07,2020.0,2.032258
2020-06-30,44425.037974,44927.133283,43878.376757,44429.480526,2.157059e+07,2020.0,5.032787
2020-09-30,50105.660522,50721.597638,49715.386303,50275.892385,1.977054e+07,2020.0,7.968750
2020-12-31,58679.590740,59192.680282,57944.515642,58435.949776,2.219652e+07,2020.0,11.032787
2021-03-31,76645.367839,77726.491561,75871.838302,76683.459299,2.643395e+07,2021.0,2.033333
2021-06-30,75066.156498,75564.401067,74652.493035,75166.739944,1.679760e+07,2021.0,5.000000
2021-09-30,71632.972404,72200.972901,71197.360615,71774.259276,1.704810e+07,2021.0,7.951613
2021-12-31,68013.301959,68664.648766,67464.988898,68107.509545,1.519392e+07,2021.0,11.047619
2022-03-31,68293.733297,68742.909846,67937.671051,68465.402910,1.138053e+07,2022.0,2.034483
2022-06-30,60950.825756,61470.593658,60576.809978,61035.198204,1.699384e+07,2022.0,4.983607
2022-09-30,55088.428137,55614.221547,54644.795071,55080.951544,1.336704e+07,2022.0,7.984127
2022-12-31,55960.888924,56466.764164,55436.842778,55935.079138,1.373811e+07,2022.0,11.032258
2023-03-31,58460.524257,58960.200280,57988.529032,58548.196445,8.145096e+06,2023.0,2.032258
2023-06-30,65079.396516,65524.270817,64581.166984,65139.194920,1.353320e+07,2023.0,5.016393
2023-09-30,67150.946888,67760.264575,66639.665969,67233.436067,1.363359e+07,2023.0,7.967742
2023-12-31,68834.097135,69300.583924,68320.609171,68793.583100,1.364019e+07,2023.0,11.000000
2024-03-31,72647.561603,73303.209602,72020.424192,72711.181041,1.860166e+07,2024.0,1.967213
2024-06-30,77329.885026,78243.869653,76660.171826,77553.086439,2.095545e+07,2024.0,4.966667
2024-09-30,75010.436807,75998.979115,74348.478277,75297.358683,2.251369e+07,2024.0,7.919355
2024-12-31,55631.001153,56474.437384,55009.382822,55609.947996,2.468996e+07,2024.0,11.000000
2025-03-31,55492.735789,56134.040042,54836.270700,55323.278281,2.039913e+07,2025.0,2.034483
2025-06-30,56788.333333,57490.000000,56295.000000,56898.333333,1.586223e+07,2025.0,4.950000
2025-09-30,60500.000000,61000.000000,60000.000000,60300.000000,1.493365e+07,2025.0,7.000000